.card-height-form {
  height: calc(100vh - 345px);
}

#card-flash {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.save-card-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100vh - 330px)
}

.Card_info h2 {
  font-size: 20px;
}

.Card_info div{
  margin-top: 40px;
}

.Card_info a{
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: black;
  background-color: lightgray;
}